<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

<body>
  <!-- Your HTML file -->
  <head>
    <style>
      body {
        background-image: url('img/bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
      }
    </style>
  </head>

  <!--<img src="img/logo.jpg" alt="logo">-->

  <main class="container">
    <div class="jumbotron">
      <h1 style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Welcome to <%= title %> Page</h1>
      <br>
      <p style="font-size: 24px; color: #ff0000; text-align: center; margin: 20px auto;">
        Welcome Here!<br>
        We're delighted to have you here. Whether you're a first-time visitor or a returning guest, we aim to provide you with a valuable and enjoyable experience.
      </p>

      <div style="text-align: center;">
        <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px; border: 1px solid #7c7878; padding: 10px; background-color: #f7f7f7;">
          Our mission here is to provide an immersive experience that showcases my passion, skills, and accomplishments.
        </p>

        <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px; border: 1px solid #7c7878; padding: 10px; background-color: #f7f7f7;">
          Welcome to my personal portfolio, where I invite you to explore my journey, projects, and services. I am committed to delivering exceptional value through innovative solutions and a client-centric approach.
        </p>

        <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px; border: 1px solid #7c7878; padding: 10px; background-color: #f7f7f7;">
          Through my <a href="/about">About Me</a> page, I aim to provide a glimpse into my background, expertise, and aspirations. Join me as I share my story and the experiences that have shaped me into the professional I am today.
        </p>

        <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px; border: 1px solid #7c7878; padding: 10px; background-color: #f7f7f7;">
          Explore a curated selection of my notable works. Each project <a href="/products">
            (products)</a> reflects my dedication, creativity, and problem-solving abilities. I take pride in delivering results that exceed expectations and make a positive impact.
        </p>

        <p style="font-size: 18px; line-height: 1.5; margin-bottom: 20px; border: 1px solid #7c7878; padding: 10px; background-color: #f7f7f7;">
          On the <a href="/services">Services</a> page, you will find a range of offerings tailored to meet your specific needs. Whether it's web development, programming, or other services, I am dedicated to delivering top-notch solutions that drive success.
        </p>

        <p style="font-size: 18px; line-height: 1.5; border: 1px solid #7c7878; padding: 10px;">
          Should you have any questions, ideas, or collaborations in mind, I invite you to <a href="/contact">connect with me</a> through the Contact Me page. Your inquiries and feedback are invaluable, and I look forward to engaging with you further.
        </p>

        <p style="font-size: 18px; line-height: 1.5;">Here, my mission is to provide a captivating platform that showcases my skills, expresses my passion, and connects with individuals seeking quality solutions. Thank you for visiting, and I hope you enjoy your journey through my portfolio.</p>
      </div>
    </div>
  </main>

  <%- include ('partials/bottom_nav.ejs') %>
  <%- include ('partials/footer.ejs') %>

</body>


