
<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>

    <!--<img src="img/logo.png" alt="logo">-->

    <<main class="container">
        <div class="jumbotron" style="background-color:#00fbff; padding: 20px; margin-bottom: 20px;">
          <h1 style="text-align: center; font-size: 28px; color: #333; margin-bottom: 20px;">Welcome to <%= title %> Page</h1>
        </div>
      
        <div class="project" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px; background-color: #fff;">
            <img src="img/project1.jpg" alt="Project 1 Image" style="width: 300px; height: auto;">
            <h2 style="font-size: 24px; margin-top: 10px;">Project 1: E-commerce Website</h2>
            <p style="font-size: 18px; border: 1px solid #8cff00; padding: 10px; background-color: #8cff00;">
            Description: The project involved designing and developing a fully functional e-commerce website for a clothing store.
            Users can browse products, add items to the cart, and proceed to checkout.
      <br><br>
            Role: As the lead developer, I was responsible for creating the website's frontend using HTML, CSS, and JavaScript.
            I implemented responsive design to ensure optimal user experience across different devices.
      <br><br>
            Outcomes: The e-commerce website successfully launched and attracted a significant increase in online sales.
            Users praised the intuitive user interface and seamless checkout process. The website's performance and loading speed
            were optimized, resulting in a positive impact on conversion rates and customer satisfaction.
          </p>
        </div>
      
        <div class="project" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 20px; background-color: #fff;">
            <img src="img/project2.jpg" alt="Project 2 Image" style="width: 300px; height: auto;">
            <h2 style="font-size: 24px; margin-top: 10px;">Project 2: Mobile App Development</h2>
            <p style="font-size: 18px; border: 1px solid #8cff00; padding: 10px; background-color: #8cff00;">
            Description: This project involved developing a mobile app for a fitness tracking platform.
            The app allows users to track their workouts, set goals, and monitor their progress.
            <br><br>
            Role: As the lead developer, I was responsible for developing the frontend of the mobile app using React Native.
            I implemented smooth navigation, interactive user interfaces, and integrated APIs for real-time data updates.
            <br><br>
            Outcomes: The fitness tracking app received positive reviews and gained a large user base.
            Users found the app user-friendly and appreciated its intuitive design and comprehensive tracking features.
            The app's performance was optimized, ensuring seamless functionality and a satisfying user experience.
          </p>
        </div>
        
          <div class="project">
            <img src="img/project3.jpg" alt="Project 3 Image" style="width: 300px; height: auto;">
            <h2 style="font-size: 24px; margin-top: 10px;">Project 3: Data Analysis Dashboard</h2>
            <p style="font-size: 18px; border: 1px solid #8cff00; padding: 10px; background-color: #8cff00;">
              Description: The project involved creating a data analysis dashboard for a marketing agency.
              The dashboard provides visualizations and insights on campaign performance, customer demographics, and conversion rates.
              <br><br>
              Role: As the lead data analyst, I was responsible for designing and developing the dashboard's backend using Python and SQL.
              I utilized data visualization libraries to create interactive charts and graphs for data exploration and analysis.
              <br><br>
              Outcomes: The data analysis dashboard provided the marketing agency with valuable insights and actionable recommendations.
              It helped optimize marketing strategies, identify target audience segments, and improve campaign effectiveness.
              The dashboard's user-friendly interface and comprehensive data visualizations empowered the agency to make data-driven decisions.
            </p>
          </div>
      </main>
      

      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>



   